html {
  cursor:url("https://static.wikia.nocookie.net/pokemongo/images/4/4f/Mr._Mime.png/revision/latest/scale-to-width-down/128?cb=20180409094251"), auto;
}
body{
  background-image: url('https://media2.giphy.com/media/7goCZqFnYE20o/giphy.gif');
background-color:yellow;
color:rgb(255, 0, 0);
}
.p3 {
    font-family: "Brush Script MT", cursive;
  }

  .animated_rainbow_1 {
    font-size: 42px;
    font-family: Arial Black, Gadget, sans-serif;
    background-image: -webkit-linear-gradient(left, #f00, #ff2b00, #f50, #ff8000, #fa0, #ffd500, #ff0, #d4ff00, #af0, #80ff00, #5f0, #2bff00, #0f0, #00ff2a, #0f5, #00ff80, #0fa, #00ffd5, #0ff, #00d5ff, #0af, #0080ff, #05f, #002aff, #00f, #2b00ff, #50f, #8000ff, #a0f, #d400ff, #f0f, #ff00d4, #f0a, #ff0080, #f05, #ff002b, #f00);
    -webkit-animation: animatedBackground_a 5s linear infinite alternate;
    -webkit-background-clip: text;
    -webkit-text-fill-color: #0000;
    background-clip: text;
  }
  
@keyframes animatedBackground_a {
    0% { background-position: 0 0 }
    100% { background-position: -500px 0 }
  }


  .topright {
    position: absolute;
    top: 80px;
    right: 16px;
    font-size: 18px;
  }

  .topright2 {
    position: absolute;
    top: 145px;
    right: 16px;
    font-size: 18px;
  }

  ::selection {
    background: #ff8800; /* WebKit/Blink Browsers */
  }
  ::-moz-selection {
    background: #ff8800; /* Gecko Browsers */
  }

.dearestClient {
    background-color: rgb(255, 123, 211);
    width: 500px;
    border: 15px solid rgb(42, 5, 250);
    padding: 50px;
    margin: 20px;
}

.p2 {
 font-family: Georgia, 'Times New Roman', Times, serif; 

}